<button type="button" {{action 'refreshData'}}>Refresh Data</button>

{{nvd3-chart
  type="multiBarChart"
  datum=datumBar
  options=options
  afterSetup=(action 'afterSetup')
  beforeSetup=(action 'beforeSetup')
  dispatchEvents=dispatchEvents
}}
