<div class="nvd3-chart-container">
{{nvd3-chart
  type="lineChart"
  datum=datum
  chartOptions=chartOptions
  tooltipOptions=tooltipOptions
  afterSetup=afterSetup
  beforeSetup=beforeSetup
  dispatchEvents=dispatchEvents
  axesOptions=axesOptions
}}
</div>